*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #000000;
}

.content {
  height: 100%;
  width: 100%;
}

.content--mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .content--mobile {
    display: none;
  }
}

.content--mobile img {
  display: block;
  max-width: 100%;
  height: auto;
}
.content--mobile img + img {
  margin-top: -1px;
}

.content--desktop {
  display: none;
}

.container {
  position: relative;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .content--desktop {
    display: block;
    height: 100%;
  }

  .content__first-layer, .content__second-layer {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .content__first-layer .layer01 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .content__first-layer .layer02 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .content__first-layer .layer03 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    max-width: 100%;
    z-index: 2;
  }

  .content__first-layer .layer04 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    max-width: 100%;
    max-height: 100%;
  }

  .content__second-layer {
    height: calc(100vh - 9%);
  }

  .content__second-layer .layer01 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .content__second-layer .layer02 {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    z-index: 1;
  }

  .content__second-layer .layer03 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    max-width: 100%;
    z-index: 2;
  }

  .content__second-layer .layer04 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    max-width: 100%;
    z-index: 3;
  }

  .content__second-layer .layer05 {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    z-index: 4;
  }

  .content__second-layer .layer06 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
  }
}
